# Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
#help(pd.Series)

In [3]:
cons_index= ['2023-03-08 00:00', '2023-03-08 01:00','2023-03-08 02:00','2023-03-08 03:00',
    '2023-03-08 04:00', '2023-03-08 05:00','2023-03-08 06:00','2023-03-08 07:00',
    '2023-03-08 08:00','2023-03-08 09:00','2023-03-08 10:00','2023-03-08 11:00',
    '2023-03-08 12:00','2023-03-08 13:00','2023-03-08 14:00','2023-03-08 15:00',
    '2023-03-08 16:00','2023-03-08 17:00','2023-03-08 18:00','2023-03-08 19:00',
    '2023-03-08 20:00','2023-03-08 21:00','2023-03-08 22:00','2023-03-08 23:00']

In [4]:
cons_data = [57.42,73.61,71.01, 70.07 , 83.32, 107.78, 114.57, 137.3, 158.53, 173.1, 163, 152.99,
            144.17, 137.17, 135.1, 137.42, 141.08, 144.47, 153.01, 166.89, 170.02, 153.77, 134.64, 128.82]

In [5]:
cons = pd.Series(data = cons_data)
cons

0      57.42
1      73.61
2      71.01
3      70.07
4      83.32
5     107.78
6     114.57
7     137.30
8     158.53
9     173.10
10    163.00
11    152.99
12    144.17
13    137.17
14    135.10
15    137.42
16    141.08
17    144.47
18    153.01
19    166.89
20    170.02
21    153.77
22    134.64
23    128.82
dtype: float64

In [6]:
cons = pd.Series(data = cons_data,index = cons_index)
cons

2023-03-08 00:00     57.42
2023-03-08 01:00     73.61
2023-03-08 02:00     71.01
2023-03-08 03:00     70.07
2023-03-08 04:00     83.32
2023-03-08 05:00    107.78
2023-03-08 06:00    114.57
2023-03-08 07:00    137.30
2023-03-08 08:00    158.53
2023-03-08 09:00    173.10
2023-03-08 10:00    163.00
2023-03-08 11:00    152.99
2023-03-08 12:00    144.17
2023-03-08 13:00    137.17
2023-03-08 14:00    135.10
2023-03-08 15:00    137.42
2023-03-08 16:00    141.08
2023-03-08 17:00    144.47
2023-03-08 18:00    153.01
2023-03-08 19:00    166.89
2023-03-08 20:00    170.02
2023-03-08 21:00    153.77
2023-03-08 22:00    134.64
2023-03-08 23:00    128.82
dtype: float64

In [7]:
cons['2023-03-08 00:00']

57.42

In [8]:
cons[0]

57.42

In [9]:
cons.keys()

Index(['2023-03-08 00:00', '2023-03-08 01:00', '2023-03-08 02:00',
       '2023-03-08 03:00', '2023-03-08 04:00', '2023-03-08 05:00',
       '2023-03-08 06:00', '2023-03-08 07:00', '2023-03-08 08:00',
       '2023-03-08 09:00', '2023-03-08 10:00', '2023-03-08 11:00',
       '2023-03-08 12:00', '2023-03-08 13:00', '2023-03-08 14:00',
       '2023-03-08 15:00', '2023-03-08 16:00', '2023-03-08 17:00',
       '2023-03-08 18:00', '2023-03-08 19:00', '2023-03-08 20:00',
       '2023-03-08 21:00', '2023-03-08 22:00', '2023-03-08 23:00'],
      dtype='object')

In [10]:
cons2 = cons * 2
cons2

2023-03-08 00:00    114.84
2023-03-08 01:00    147.22
2023-03-08 02:00    142.02
2023-03-08 03:00    140.14
2023-03-08 04:00    166.64
2023-03-08 05:00    215.56
2023-03-08 06:00    229.14
2023-03-08 07:00    274.60
2023-03-08 08:00    317.06
2023-03-08 09:00    346.20
2023-03-08 10:00    326.00
2023-03-08 11:00    305.98
2023-03-08 12:00    288.34
2023-03-08 13:00    274.34
2023-03-08 14:00    270.20
2023-03-08 15:00    274.84
2023-03-08 16:00    282.16
2023-03-08 17:00    288.94
2023-03-08 18:00    306.02
2023-03-08 19:00    333.78
2023-03-08 20:00    340.04
2023-03-08 21:00    307.54
2023-03-08 22:00    269.28
2023-03-08 23:00    257.64
dtype: float64

In [11]:
cons/ 100

2023-03-08 00:00    0.5742
2023-03-08 01:00    0.7361
2023-03-08 02:00    0.7101
2023-03-08 03:00    0.7007
2023-03-08 04:00    0.8332
2023-03-08 05:00    1.0778
2023-03-08 06:00    1.1457
2023-03-08 07:00    1.3730
2023-03-08 08:00    1.5853
2023-03-08 09:00    1.7310
2023-03-08 10:00    1.6300
2023-03-08 11:00    1.5299
2023-03-08 12:00    1.4417
2023-03-08 13:00    1.3717
2023-03-08 14:00    1.3510
2023-03-08 15:00    1.3742
2023-03-08 16:00    1.4108
2023-03-08 17:00    1.4447
2023-03-08 18:00    1.5301
2023-03-08 19:00    1.6689
2023-03-08 20:00    1.7002
2023-03-08 21:00    1.5377
2023-03-08 22:00    1.3464
2023-03-08 23:00    1.2882
dtype: float64

In [12]:
cons + cons2
# cons.add(cons2,fill_value=0)

2023-03-08 00:00    172.26
2023-03-08 01:00    220.83
2023-03-08 02:00    213.03
2023-03-08 03:00    210.21
2023-03-08 04:00    249.96
2023-03-08 05:00    323.34
2023-03-08 06:00    343.71
2023-03-08 07:00    411.90
2023-03-08 08:00    475.59
2023-03-08 09:00    519.30
2023-03-08 10:00    489.00
2023-03-08 11:00    458.97
2023-03-08 12:00    432.51
2023-03-08 13:00    411.51
2023-03-08 14:00    405.30
2023-03-08 15:00    412.26
2023-03-08 16:00    423.24
2023-03-08 17:00    433.41
2023-03-08 18:00    459.03
2023-03-08 19:00    500.67
2023-03-08 20:00    510.06
2023-03-08 21:00    461.31
2023-03-08 22:00    403.92
2023-03-08 23:00    386.46
dtype: float64

# DataFrames
https://dashboard.elering.ee/

In [13]:
df = pd.read_csv('data/electricity-production and consumption_2022.csv', delimiter=';',decimal=',')
df['timestamp'] = pd.to_datetime(df['Kuupaev (Eesti aeg)'], dayfirst=True)
df

,Ajatempel (UTC),Kuupaev (Eesti aeg),Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine,timestamp
0,1640988000,01.01.2022 00:00,899.4,419.5,903.1,462.4,2022-01-01 00:00:00
1,1640991600,01.01.2022 01:00,892.1,431.9,935.8,469.1,2022-01-01 01:00:00
2,1640995200,01.01.2022 02:00,874.3,428.1,897.6,458.6,2022-01-01 02:00:00
3,1640998800,01.01.2022 03:00,860.1,435.7,878.5,471.9,2022-01-01 03:00:00
4,1641002400,01.01.2022 04:00,842.7,429.2,891.1,472.2,2022-01-01 04:00:00
...,...,...,...,...,...,...,...
8755,1672506000,31.12.2022 19:00,989.4,674.4,983.3,660.0,2022-12-31 19:00:00
8756,1672509600,31.12.2022 20:00,932.5,614.2,957.5,600.3,2022-12-31 20:00:00
8757,1672513200,31.12.2022 21:00,889.5,609.5,921.1,590.6,2022-12-31 21:00:00
8758,1672516800,31.12.2022 22:00,846.5,585.2,864.6,568.2,2022-12-31 22:00:00
8759,1672520400,31.12.2022 23:00,817.6,567.0,867.9,559.8,2022-12-31 23:00:00

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ajatempel (UTC)        8760 non-null   int64
 1   Kuupaev (Eesti aeg)    8760 non-null   object
 2   Tarbimine              8760 non-null   float64
 3   Tootmine               8760 non-null   float64
 4   Planeeritud tarbimine  8760 non-null   float64
 5   Planeeritud tootmine   8760 non-null   float64
 6   timestamp              8760 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 479.2+ KB

In [15]:
df.index

RangeIndex(start=0, stop=8760, step=1)

In [16]:
df.set_index('timestamp', inplace=True)
df

,Ajatempel (UTC),Kuupaev (Eesti aeg),Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,,,
2022-01-01 00:00:00,1640988000,01.01.2022 00:00,899.4,419.5,903.1,462.4
2022-01-01 01:00:00,1640991600,01.01.2022 01:00,892.1,431.9,935.8,469.1
2022-01-01 02:00:00,1640995200,01.01.2022 02:00,874.3,428.1,897.6,458.6
2022-01-01 03:00:00,1640998800,01.01.2022 03:00,860.1,435.7,878.5,471.9
2022-01-01 04:00:00,1641002400,01.01.2022 04:00,842.7,429.2,891.1,472.2
...,...,...,...,...,...,...
2022-12-31 19:00:00,1672506000,31.12.2022 19:00,989.4,674.4,983.3,660.0
2022-12-31 20:00:00,1672509600,31.12.2022 20:00,932.5,614.2,957.5,600.3
2022-12-31 21:00:00,1672513200,31.12.2022 21:00,889.5,609.5,921.1,590.6
2022-12-31 22:00:00,1672516800,31.12.2022 22:00,846.5,585.2,864.6,568.2
2022-12-31 23:00:00,1672520400,31.12.2022 23:00,817.6,567.0,867.9,559.8

In [17]:
df.index

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 01:00:00',
               '2022-01-01 02:00:00', '2022-01-01 03:00:00',
               '2022-01-01 04:00:00', '2022-01-01 05:00:00',
               '2022-01-01 06:00:00', '2022-01-01 07:00:00',
               '2022-01-01 08:00:00', '2022-01-01 09:00:00',
               ...
               '2022-12-31 14:00:00', '2022-12-31 15:00:00',
               '2022-12-31 16:00:00', '2022-12-31 17:00:00',
               '2022-12-31 18:00:00', '2022-12-31 19:00:00',
               '2022-12-31 20:00:00', '2022-12-31 21:00:00',
               '2022-12-31 22:00:00', '2022-12-31 23:00:00'],
              dtype='datetime64[ns]', name='timestamp', length=8760, freq=None)

In [18]:
df.columns

Index(['Ajatempel (UTC)', 'Kuupaev (Eesti aeg)', 'Tarbimine', 'Tootmine',
       'Planeeritud tarbimine', 'Planeeritud tootmine'],
      dtype='object')

In [19]:
df.drop(['Ajatempel (UTC)', 'Kuupaev (Eesti aeg)'], axis=1, inplace=True)
df

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.4,419.5,903.1,462.4
2022-01-01 01:00:00,892.1,431.9,935.8,469.1
2022-01-01 02:00:00,874.3,428.1,897.6,458.6
2022-01-01 03:00:00,860.1,435.7,878.5,471.9
2022-01-01 04:00:00,842.7,429.2,891.1,472.2
...,...,...,...,...
2022-12-31 19:00:00,989.4,674.4,983.3,660.0
2022-12-31 20:00:00,932.5,614.2,957.5,600.3
2022-12-31 21:00:00,889.5,609.5,921.1,590.6
2022-12-31 22:00:00,846.5,585.2,864.6,568.2
2022-12-31 23:00:00,817.6,567.0,867.9,559.8

In [20]:
df.head(3)

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.4,419.5,903.1,462.4
2022-01-01 01:00:00,892.1,431.9,935.8,469.1
2022-01-01 02:00:00,874.3,428.1,897.6,458.6

In [21]:
df.tail(3)

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-12-31 21:00:00,889.5,609.5,921.1,590.6
2022-12-31 22:00:00,846.5,585.2,864.6,568.2
2022-12-31 23:00:00,817.6,567.0,867.9,559.8

In [22]:
len(df)

8760

In [23]:
df.describe()

         Tarbimine     Tootmine  Planeeritud tarbimine  Planeeritud tootmine
count  8760.000000  8760.000000            8760.000000           8760.000000
mean    934.010628   838.377511             972.162192            857.519886
std     178.963321   244.166110             177.770068            242.879395
min     518.000000   271.600000             557.500000            125.500000
25%     803.400000   648.675000             843.500000            665.375000
50%     926.400000   820.900000             962.800000            839.450000
75%    1061.400000  1017.100000            1084.800000           1034.225000
max    1464.200000  1639.900000            1540.500000           1666.300000

In [24]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Tarbimine,8760.0,934.010628,178.963321,518.0,803.400,926.40,1061.400,1464.2
Tootmine,8760.0,838.377511,244.166110,271.6,648.675,820.90,1017.100,1639.9
Planeeritud tarbimine,8760.0,972.162192,177.770068,557.5,843.500,962.80,1084.800,1540.5
Planeeritud tootmine,8760.0,857.519886,242.879395,125.5,665.375,839.45,1034.225,1666.3

In [25]:
df['Tarbimine']

timestamp
2022-01-01 00:00:00    899.4
2022-01-01 01:00:00    892.1
2022-01-01 02:00:00    874.3
2022-01-01 03:00:00    860.1
2022-01-01 04:00:00    842.7
                       ...
2022-12-31 19:00:00    989.4
2022-12-31 20:00:00    932.5
2022-12-31 21:00:00    889.5
2022-12-31 22:00:00    846.5
2022-12-31 23:00:00    817.6
Name: Tarbimine, Length: 8760, dtype: float64

In [26]:
type(df['Tarbimine'])

pandas.core.series.Series

In [27]:
df[['Tarbimine']]

                     Tarbimine
timestamp
2022-01-01 00:00:00      899.4
2022-01-01 01:00:00      892.1
2022-01-01 02:00:00      874.3
2022-01-01 03:00:00      860.1
2022-01-01 04:00:00      842.7
...                        ...
2022-12-31 19:00:00      989.4
2022-12-31 20:00:00      932.5
2022-12-31 21:00:00      889.5
2022-12-31 22:00:00      846.5
2022-12-31 23:00:00      817.6

[8760 rows x 1 columns]

In [28]:
type(df[['Tarbimine']])

pandas.core.frame.DataFrame

In [29]:
df[['Tarbimine','Planeeritud tarbimine']]

                     Tarbimine  Planeeritud tarbimine
timestamp
2022-01-01 00:00:00      899.4                  903.1
2022-01-01 01:00:00      892.1                  935.8
2022-01-01 02:00:00      874.3                  897.6
2022-01-01 03:00:00      860.1                  878.5
2022-01-01 04:00:00      842.7                  891.1
...                        ...                    ...
2022-12-31 19:00:00      989.4                  983.3
2022-12-31 20:00:00      932.5                  957.5
2022-12-31 21:00:00      889.5                  921.1
2022-12-31 22:00:00      846.5                  864.6
2022-12-31 23:00:00      817.6                  867.9

[8760 rows x 2 columns]

### Calling columns

In [30]:
df['Tarbimine'] = np.round(df.Tarbimine)

In [31]:
df['Tootmine'] = np.round(df['Tootmine'])

In [32]:
df

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.0,420.0,903.1,462.4
2022-01-01 01:00:00,892.0,432.0,935.8,469.1
2022-01-01 02:00:00,874.0,428.0,897.6,458.6
2022-01-01 03:00:00,860.0,436.0,878.5,471.9
2022-01-01 04:00:00,843.0,429.0,891.1,472.2
...,...,...,...,...
2022-12-31 19:00:00,989.0,674.0,983.3,660.0
2022-12-31 20:00:00,932.0,614.0,957.5,600.3
2022-12-31 21:00:00,890.0,610.0,921.1,590.6
2022-12-31 22:00:00,846.0,585.0,864.6,568.2
2022-12-31 23:00:00,818.0,567.0,867.9,559.8

### Calling rows

In [33]:
df.head(20)

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.0,420.0,903.1,462.4
2022-01-01 01:00:00,892.0,432.0,935.8,469.1
2022-01-01 02:00:00,874.0,428.0,897.6,458.6
2022-01-01 03:00:00,860.0,436.0,878.5,471.9
2022-01-01 04:00:00,843.0,429.0,891.1,472.2
2022-01-01 05:00:00,845.0,439.0,893.7,479.1
2022-01-01 06:00:00,852.0,461.0,889.2,491.7
2022-01-01 07:00:00,868.0,500.0,905.2,514.9
2022-01-01 08:00:00,875.0,537.0,941.7,554.5
2022-01-01 09:00:00,882.0,540.0,961.8,574.0
2022-01-01 10:00:00,925.0,573.0,990.2,594.0
2022-01-01 11:00:00,978.0,584.0,1013.5,607.0
2022-01-01 12:00:00,988.0,565.0,1019.9,625.7
2022-01-01 13:00:00,992.0,617.0,1029.4,708.1
2022-01-01 14:00:00,980.0,634.0,1029.9,705.2
2022-01-01 15:00:00,984.0,626.0,1067.2,706.0
2022-01-01 16:00:00,1052.0,633.0,1127.6,700.1
2022-01-01 17:00:00,1069.0,647.0,1152.0,736.6
2022-01-01 18:00:00,1076.0,655.0,1146.8,727.7
2022-01-01 19:00:00,1064.0,631.0,1122.3,710.0

In [34]:
df.tail()

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-12-31 19:00:00,989.0,674.0,983.3,660.0
2022-12-31 20:00:00,932.0,614.0,957.5,600.3
2022-12-31 21:00:00,890.0,610.0,921.1,590.6
2022-12-31 22:00:00,846.0,585.0,864.6,568.2
2022-12-31 23:00:00,818.0,567.0,867.9,559.8

In [35]:
df.iloc[0:24]

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.0,420.0,903.1,462.4
2022-01-01 01:00:00,892.0,432.0,935.8,469.1
2022-01-01 02:00:00,874.0,428.0,897.6,458.6
2022-01-01 03:00:00,860.0,436.0,878.5,471.9
2022-01-01 04:00:00,843.0,429.0,891.1,472.2
2022-01-01 05:00:00,845.0,439.0,893.7,479.1
2022-01-01 06:00:00,852.0,461.0,889.2,491.7
2022-01-01 07:00:00,868.0,500.0,905.2,514.9
2022-01-01 08:00:00,875.0,537.0,941.7,554.5
2022-01-01 09:00:00,882.0,540.0,961.8,574.0
2022-01-01 10:00:00,925.0,573.0,990.2,594.0
2022-01-01 11:00:00,978.0,584.0,1013.5,607.0
2022-01-01 12:00:00,988.0,565.0,1019.9,625.7
2022-01-01 13:00:00,992.0,617.0,1029.4,708.1
2022-01-01 14:00:00,980.0,634.0,1029.9,705.2
2022-01-01 15:00:00,984.0,626.0,1067.2,706.0
2022-01-01 16:00:00,1052.0,633.0,1127.6,700.1
2022-01-01 17:00:00,1069.0,647.0,1152.0,736.6
2022-01-01 18:00:00,1076.0,655.0,1146.8,727.7
2022-01-01 19:00:00,1064.0,631.0,1122.3,710.0
2022-01-01 20:00:00,1053.0,614.0,1099.6,697.9
2022-01-01 21:00:00,1031.0,574.0,1095.3,670.9
2022-01-01 22:00:00,997.0,520.0,1072.8,642.2
2022-01-01 23:00:00,968.0,534.0,1041.7,650.3

In [36]:
r = df.iloc[0]
r

Tarbimine                899.0
Tootmine                 420.0
Planeeritud tarbimine    903.1
Planeeritud tootmine     462.4
Name: 2022-01-01 00:00:00, dtype: float64

In [37]:
df.loc['2022-01-01 00:00:00']

Tarbimine                899.0
Tootmine                 420.0
Planeeritud tarbimine    903.1
Planeeritud tootmine     462.4
Name: 2022-01-01 00:00:00, dtype: float64

In [38]:
df.loc[['2022-01-01 00:00:00','2022-01-01 01:00:00']]

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.0,420.0,903.1,462.4
2022-01-01 01:00:00,892.0,432.0,935.8,469.1

In [39]:
df.loc[(df.Tarbimine>1200)]

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-03 08:00:00,1228.0,659.0,1251.5,740.8
2022-01-03 09:00:00,1264.0,668.0,1333.7,743.6
2022-01-03 10:00:00,1281.0,691.0,1318.4,769.8
2022-01-03 11:00:00,1290.0,679.0,1330.9,731.6
2022-01-03 12:00:00,1287.0,671.0,1310.9,735.0
...,...,...,...,...
2022-12-21 15:00:00,1212.0,1172.0,1231.5,1155.1
2022-12-21 16:00:00,1216.0,1191.0,1217.9,1170.3
2022-12-21 17:00:00,1208.0,1194.0,1210.1,1161.7
2022-12-27 10:00:00,1205.0,728.0,1172.6,692.0
2022-12-27 11:00:00,1205.0,697.0,1162.7,696.0

### Concat

In [40]:
d1 = df.iloc[0:24]
d1

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.0,420.0,903.1,462.4
2022-01-01 01:00:00,892.0,432.0,935.8,469.1
2022-01-01 02:00:00,874.0,428.0,897.6,458.6
2022-01-01 03:00:00,860.0,436.0,878.5,471.9
2022-01-01 04:00:00,843.0,429.0,891.1,472.2
2022-01-01 05:00:00,845.0,439.0,893.7,479.1
2022-01-01 06:00:00,852.0,461.0,889.2,491.7
2022-01-01 07:00:00,868.0,500.0,905.2,514.9
2022-01-01 08:00:00,875.0,537.0,941.7,554.5
2022-01-01 09:00:00,882.0,540.0,961.8,574.0
2022-01-01 10:00:00,925.0,573.0,990.2,594.0
2022-01-01 11:00:00,978.0,584.0,1013.5,607.0
2022-01-01 12:00:00,988.0,565.0,1019.9,625.7
2022-01-01 13:00:00,992.0,617.0,1029.4,708.1
2022-01-01 14:00:00,980.0,634.0,1029.9,705.2
2022-01-01 15:00:00,984.0,626.0,1067.2,706.0
2022-01-01 16:00:00,1052.0,633.0,1127.6,700.1
2022-01-01 17:00:00,1069.0,647.0,1152.0,736.6
2022-01-01 18:00:00,1076.0,655.0,1146.8,727.7
2022-01-01 19:00:00,1064.0,631.0,1122.3,710.0
2022-01-01 20:00:00,1053.0,614.0,1099.6,697.9
2022-01-01 21:00:00,1031.0,574.0,1095.3,670.9
2022-01-01 22:00:00,997.0,520.0,1072.8,642.2
2022-01-01 23:00:00,968.0,534.0,1041.7,650.3

In [41]:
d2 = df.iloc[24:48]
d2

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-02 00:00:00,937.0,492.0,1018.6,615.0
2022-01-02 01:00:00,917.0,467.0,1016.4,544.2
2022-01-02 02:00:00,900.0,410.0,986.7,438.0
2022-01-02 03:00:00,892.0,431.0,984.7,447.4
2022-01-02 04:00:00,884.0,425.0,983.3,455.2
2022-01-02 05:00:00,878.0,431.0,994.7,463.8
2022-01-02 06:00:00,900.0,410.0,1010.9,478.1
2022-01-02 07:00:00,934.0,440.0,1033.2,494.1
2022-01-02 08:00:00,983.0,478.0,1103.5,526.6
2022-01-02 09:00:00,1013.0,500.0,1124.9,541.6
2022-01-02 10:00:00,1042.0,513.0,1209.0,577.1
2022-01-02 11:00:00,1066.0,549.0,1206.2,586.8
2022-01-02 12:00:00,1070.0,558.0,1220.0,588.8
2022-01-02 13:00:00,1067.0,524.0,1242.0,587.6
2022-01-02 14:00:00,1077.0,487.0,1212.8,557.1
2022-01-02 15:00:00,1100.0,517.0,1190.4,545.0
2022-01-02 16:00:00,1159.0,485.0,1268.8,543.1
2022-01-02 17:00:00,1164.0,508.0,1282.1,581.0
2022-01-02 18:00:00,1160.0,529.0,1271.2,625.0
2022-01-02 19:00:00,1140.0,467.0,1218.9,556.6
2022-01-02 20:00:00,1116.0,486.0,1160.4,554.3
2022-01-02 21:00:00,1074.0,522.0,1131.8,552.0
2022-01-02 22:00:00,1020.0,490.0,1096.5,565.5
2022-01-02 23:00:00,965.0,540.0,1062.8,579.7

In [42]:
r = pd.concat([d1,d2])
r

,Tarbimine,Tootmine,Planeeritud tarbimine,Planeeritud tootmine
timestamp,,,,
2022-01-01 00:00:00,899.0,420.0,903.1,462.4
2022-01-01 01:00:00,892.0,432.0,935.8,469.1
2022-01-01 02:00:00,874.0,428.0,897.6,458.6
2022-01-01 03:00:00,860.0,436.0,878.5,471.9
2022-01-01 04:00:00,843.0,429.0,891.1,472.2
2022-01-01 05:00:00,845.0,439.0,893.7,479.1
2022-01-01 06:00:00,852.0,461.0,889.2,491.7
2022-01-01 07:00:00,868.0,500.0,905.2,514.9
2022-01-01 08:00:00,875.0,537.0,941.7,554.5
2022-01-01 09:00:00,882.0,540.0,961.8,574.0
2022-01-01 10:00:00,925.0,573.0,990.2,594.0
2022-01-01 11:00:00,978.0,584.0,1013.5,607.0
2022-01-01 12:00:00,988.0,565.0,1019.9,625.7
2022-01-01 13:00:00,992.0,617.0,1029.4,708.1
2022-01-01 14:00:00,980.0,634.0,1029.9,705.2
2022-01-01 15:00:00,984.0,626.0,1067.2,706.0
2022-01-01 16:00:00,1052.0,633.0,1127.6,700.1
2022-01-01 17:00:00,1069.0,647.0,1152.0,736.6
2022-01-01 18:00:00,1076.0,655.0,1146.8,727.7
2022-01-01 19:00:00,1064.0,631.0,1122.3,710.0
2022-01-01 20:00:00,1053.0,614.0,1099.6,697.9
2022-01-01 21:00:00,1031.0,574.0,1095.3,670.9
2022-01-01 22:00:00,997.0,520.0,1072.8,642.2
2022-01-01 23:00:00,968.0,534.0,1041.7,650.3
2022-01-02 00:00:00,937.0,492.0,1018.6,615.0
2022-01-02 01:00:00,917.0,467.0,1016.4,544.2
2022-01-02 02:00:00,900.0,410.0,986.7,438.0
2022-01-02 03:00:00,892.0,431.0,984.7,447.4
2022-01-02 04:00:00,884.0,425.0,983.3,455.2
2022-01-02 05:00:00,878.0,431.0,994.7,463.8
2022-01-02 06:00:00,900.0,410.0,1010.9,478.1
2022-01-02 07:00:00,934.0,440.0,1033.2,494.1
2022-01-02 08:00:00,983.0,478.0,1103.5,526.6
2022-01-02 09:00:00,1013.0,500.0,1124.9,541.6
2022-01-02 10:00:00,1042.0,513.0,1209.0,577.1
2022-01-02 11:00:00,1066.0,549.0,1206.2,586.8
2022-01-02 12:00:00,1070.0,558.0,1220.0,588.8
2022-01-02 13:00:00,1067.0,524.0,1242.0,587.6
2022-01-02 14:00:00,1077.0,487.0,1212.8,557.1
2022-01-02 15:00:00,1100.0,517.0,1190.4,545.0
2022-01-02 16:00:00,1159.0,485.0,1268.8,543.1
2022-01-02 17:00:00,1164.0,508.0,1282.1,581.0
2022-01-02 18:00:00,1160.0,529.0,1271.2,625.0
2022-01-02 19:00:00,1140.0,467.0,1218.9,556.6
2022-01-02 20:00:00,1116.0,486.0,1160.4,554.3
2022-01-02 21:00:00,1074.0,522.0,1131.8,552.0
2022-01-02 22:00:00,1020.0,490.0,1096.5,565.5
2022-01-02 23:00:00,965.0,540.0,1062.8,579.7

### Joins/merge

https://pandas.pydata.org/docs/user_guide/merging.html

In [43]:
c = df[['Tarbimine']]
c= c.rename(columns={"Tarbimine": "consumption"})
c

                     consumption
timestamp
2022-01-01 00:00:00        899.0
2022-01-01 01:00:00        892.0
2022-01-01 02:00:00        874.0
2022-01-01 03:00:00        860.0
2022-01-01 04:00:00        843.0
...                          ...
2022-12-31 19:00:00        989.0
2022-12-31 20:00:00        932.0
2022-12-31 21:00:00        890.0
2022-12-31 22:00:00        846.0
2022-12-31 23:00:00        818.0

[8760 rows x 1 columns]

In [44]:
p = df[['Tootmine']]
p

                     Tootmine
timestamp
2022-01-01 00:00:00     420.0
2022-01-01 01:00:00     432.0
2022-01-01 02:00:00     428.0
2022-01-01 03:00:00     436.0
2022-01-01 04:00:00     429.0
...                       ...
2022-12-31 19:00:00     674.0
2022-12-31 20:00:00     614.0
2022-12-31 21:00:00     610.0
2022-12-31 22:00:00     585.0
2022-12-31 23:00:00     567.0

[8760 rows x 1 columns]

In [45]:
pd.merge(c, p, on="timestamp")

                     consumption  Tootmine
timestamp
2022-01-01 00:00:00        899.0     420.0
2022-01-01 01:00:00        892.0     432.0
2022-01-01 02:00:00        874.0     428.0
2022-01-01 03:00:00        860.0     436.0
2022-01-01 04:00:00        843.0     429.0
...                          ...       ...
2022-12-31 19:00:00        989.0     674.0
2022-12-31 20:00:00        932.0     614.0
2022-12-31 21:00:00        890.0     610.0
2022-12-31 22:00:00        846.0     585.0
2022-12-31 23:00:00        818.0     567.0

[8760 rows x 2 columns]

In [46]:
pd.concat([c, p], axis=1, join="inner")

                     consumption  Tootmine
timestamp
2022-01-01 00:00:00        899.0     420.0
2022-01-01 01:00:00        892.0     432.0
2022-01-01 02:00:00        874.0     428.0
2022-01-01 03:00:00        860.0     436.0
2022-01-01 04:00:00        843.0     429.0
...                          ...       ...
2022-12-31 19:00:00        989.0     674.0
2022-12-31 20:00:00        932.0     614.0
2022-12-31 21:00:00        890.0     610.0
2022-12-31 22:00:00        846.0     585.0
2022-12-31 23:00:00        818.0     567.0

[8760 rows x 2 columns]

In [47]:
c.join(p, how="inner")

                     consumption  Tootmine
timestamp
2022-01-01 00:00:00        899.0     420.0
2022-01-01 01:00:00        892.0     432.0
2022-01-01 02:00:00        874.0     428.0
2022-01-01 03:00:00        860.0     436.0
2022-01-01 04:00:00        843.0     429.0
...                          ...       ...
2022-12-31 19:00:00        989.0     674.0
2022-12-31 20:00:00        932.0     614.0
2022-12-31 21:00:00        890.0     610.0
2022-12-31 22:00:00        846.0     585.0
2022-12-31 23:00:00        818.0     567.0

[8760 rows x 2 columns]

--------